@charset "UTF-8";

/* CSS Document */

html,
body {
    margin: 0px;
}

.clear {
    clear: both;
}

#wrapper {
    width: 100%;
    max-width: 960px;
    margin: auto;
}


/*---------- HEADER ----------*/

header {
    height: 300px;
    width: 100%;
    background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
    width: 100%;
    height: 320px;
    float: left;
}

#column-1 {
    background: #f53737;
}

#column-2 {
    background: #e38f08;
}

#column-3 {
    background: #ebe704;
}


/*---------- FOOTER ----------*/

footer {
    width: 100%;
    height: 30px;
    background: #72e40d;
}


/*---------- TABLET ----------*/


/* Change the background colors below */

@media (min-width: 768px) {
    header {
        background-color: #1a1616;
    }
    #column-1 {
        background-color: #8f5d5d;
    }
    #column-2 {
        background-color: #977b4d;
    }
    #column-3 {
        background-color: #60603d;
    }
    footer {
        background-color: #546a40;
    }
}


/*---------- Desktops ----------*/

@media (min-width: 1200px) {
    header {
        background-color: #0af473;
    }
    #column-1 {
        background-color: #37f5c9;
    }
    #column-2 {
        background-color: #0af0f4;
    }
    #column-3 {
        background-color: #0a7bf4;
    }
    footer {
        background-color: #350af4;
    }
}